header {
  padding: 70px 50px;
  display: flex;
  background-color: #1c2431;
}
header .SectionLogo {
  width: 100%;
}
header .SectionMenu ul {
  list-style-type: none;
  display: flex;
  width: 320px;
}
header .SectionMenu li {
  margin: 0 0 0 auto;
}
header .SectionMenu li a {
  text-decoration: none;
  font-family: "Raleway";
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  header .SectionLogo {
    width: auto;
  }
  header .SectionLogo .Logo {
    width: auto;
    min-width: 65px;
  }
  header .SectionLogo .Logo img {
    width: 100%;
    height: auto;
  }
  header .SectionMenu {
    margin-left: auto;
  }
  header .SectionMenu ul {
    margin: auto;
    max-width: 155px;
  }
  header .SectionMenu ul li {
    margin: 0 2%;
  }
}
.SectionIntroduction {
  text-align: center;
  background-color: #1c2431;
  position: relative;
  padding-bottom: 215px;
}
.SectionIntroduction .ImgBackground {
  position: absolute;
  bottom: -4px;
  z-index: 1;
}
.SectionIntroduction .ImgBackground img {
  width: 100%;
  height: auto;
}
.SectionIntroduction .ImgIntroduction {
  position: relative;
  z-index: 2;
}
.SectionIntroduction .ImgIntroduction img {
  max-width: 550px;
}
.SectionIntroduction .TitleIntroduction {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 250%;
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.SectionIntroduction .TextIntroduction {
  font-family: "Open Sans";
  font-size: 125%;
  max-width: 538px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.SectionIntroduction .ButtonIntroduction {
  position: relative;
  z-index: 2;
}
.SectionIntroduction .ButtonIntroduction button {
  padding: 15px 90px;
  font-family: "Raleway";
  font-weight: 700;
  background-color: #65e2d9;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.SectionIntroduction .ButtonIntroduction button:hover {
  background-color: #339ecc;
}

@media (max-width: 768px) {
  .SectionIntroduction {
    padding-bottom: 0;
  }
  .SectionIntroduction .ImgBackground {
    bottom: 50%;
  }
  .SectionIntroduction .ImgBackground::before {
    content: "";
    max-width: 1440px;
    width: 100%;
    min-height: 340px;
    height: 100%;
    background-color: #181f2a;
    position: absolute;
    bottom: -335px;
  }
  .SectionIntroduction .ImgIntroduction {
    margin: 0 20px;
  }
  .SectionIntroduction .ImgIntroduction img {
    width: 100%;
    height: auto;
  }
  .SectionIntroduction .TitleIntroduction {
    max-width: none;
    width: auto;
    padding: 0 20px;
    font-size: 150%;
    line-height: 33px;
  }
  .SectionIntroduction .TextIntroduction {
    max-width: 100%;
    width: auto;
    padding: 0 20px;
    font-size: 95%;
  }
  .SectionIntroduction .ButtonIntroduction {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.SectionServices {
  padding: 0 10%;
  text-align: center;
  position: relative;
}
.SectionServices .RowServices {
  display: flex;
  width: 100%;
}
.SectionServices .ColServices {
  width: 50%;
  padding: 0 7% 50px 7%;
}
.SectionServices .ImgServices img {
  height: 80px;
}
.SectionServices .TitleServices {
  font-size: 120%;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 130%;
}
.SectionServices .TextServices {
  font-family: "Open Sans";
}

@media (max-width: 768px) {
  .SectionServices {
    padding: 20px 40px;
  }
  .SectionServices .RowServices {
    display: block;
  }
  .SectionServices .RowServices .ColServices {
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
  }
}
.SectionDescription {
  display: flex;
  padding: 50px 7% 150px 7%;
}
.SectionDescription .ImgDescription {
  width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.SectionDescription .ImgDescription img {
  width: 100%;
  height: auto;
}
.SectionDescription .Description {
  padding-left: 6%;
  max-width: 495px;
  width: 100%;
  max-height: 465px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.SectionDescription .Description .TitleDescription {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 250%;
  max-width: 415px;
  width: 100%;
}
.SectionDescription .Description .TitleDescription p {
  margin: 0;
}
.SectionDescription .Description .TextDescription {
  font-family: "Open Sans";
}
.SectionDescription .Description .LinkDescription {
  border-bottom: 1px solid #65e2d9;
  width: max-content;
  padding-bottom: 5px;
}
.SectionDescription .Description .LinkDescription:hover {
  border-bottom-color: #339ecc;
}
.SectionDescription .Description .LinkDescription a {
  display: flex;
  font-family: "Raleway";
  text-decoration: none;
  color: #65e2d9;
}
.SectionDescription .Description .LinkDescription a:hover {
  color: #339ecc;
}
.SectionDescription .Description .LinkDescription a .LinkDescriptionImg {
  padding-left: 5px;
  padding-top: 1px;
}

@media (max-width: 768px) {
  .SectionDescription {
    padding: 20px 0;
    flex-wrap: wrap;
  }
  .SectionDescription .ImgDescription {
    padding: 20px;
  }
  .SectionDescription .Description {
    padding: 0 20px;
  }
  .SectionDescription .Description .TitleDescription {
    max-width: none;
    font-size: 120%;
  }
}
.SectionComments {
  display: flex;
  padding: 0 9%;
  position: relative;
  padding-bottom: 300px;
}
.SectionComments::before {
  content: "";
  width: 55px;
  height: 50px;
  background-image: url("../img/bg-quotes.png");
  position: absolute;
  background-repeat: no-repeat;
  top: -35px;
  left: 135px;
  z-index: 1;
}
.SectionComments .ColComments {
  background-color: #202a3c;
  margin: 0 2%;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 10px 5px #1c2431;
  z-index: 2;
}
.SectionComments .ColComments .TextComments {
  font-family: "Open Sans";
  padding-bottom: 10px;
}
.SectionComments .ColComments .Profile {
  display: flex;
}
.SectionComments .ColComments .Profile .ImgProfile img {
  width: 33px;
  border-radius: 20px;
}
.SectionComments .ColComments .Profile .UserData {
  padding: 0 10px;
}
.SectionComments .ColComments .Profile .UserData .Username {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 80%;
}
.SectionComments .ColComments .Profile .UserData .Username p {
  margin: 0 0 5px 0;
}
.SectionComments .ColComments .Profile .UserData .UserProfession {
  font-family: "Open Sans";
  font-size: 60%;
}
.SectionComments .ColComments .Profile .UserData .UserProfession p {
  margin: 5px 0 0 0;
}

@media (max-width: 768px) {
  .SectionComments {
    display: block;
    padding: 20px 30px 350px 30px;
  }
  .SectionComments::before {
    top: 18px;
    left: 50px;
    width: 30px;
    height: 100%;
    background-size: contain;
  }
  .SectionComments .ColComments {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
.Access {
  background-color: #1c2431;
  max-width: 811px;
  width: auto;
  padding-bottom: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px #202a3c;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  bottom: -85px;
}
.Access .TitleAccess {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 200%;
}
.Access .TextAccess {
  padding: 0 9%;
  font-family: "Open Sans";
}
.Access .FormAccess input {
  max-width: 425px;
  width: 100%;
  height: 43px;
  margin: 0 15px;
  font-family: "Raleway";
  background-color: white;
  border-radius: 30px;
  border: none;
}
.Access .FormAccess input::placeholder {
  text-align: left;
  padding-left: 20px;
}
.Access .FormAccess button {
  padding: 15px 30px;
  margin: 0 15px;
  font-family: "Raleway";
  font-weight: 700;
  background-color: #65e2d9;
  border-radius: 30px;
  border: none;
}

@media (max-width: 768px) {
  .Access {
    margin: 0 20px;
    box-shadow: 0px;
  }
  .Access .TextAccess {
    padding: 0px;
  }
  .Access .FormAccess {
    padding: 20px;
  }
  .Access .FormAccess input {
    max-width: none;
    margin: 20px 0px 0px 0px;
  }
  .Access .FormAccess button {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
}
footer {
  background-color: #0b1523;
  padding: 200px 90px 0px 90px;
}
footer .FooterLogo {
  padding-bottom: 20px;
}
footer .TextFooter {
  display: flex;
  font-family: "Open Sans";
  flex-wrap: wrap;
}
footer .TextFooter .ColLocation {
  display: flex;
  width: 395px;
  padding: 14px 10px 0 10px;
  margin: 0 auto;
}
footer .TextFooter .ColLocation .ImgLocation {
  width: 7%;
}
footer .TextFooter .ColLocation .TextLocation {
  width: 93%;
  padding-right: 60px;
}
footer .TextFooter .ColLocation .TextLocation p {
  margin: 0;
}
footer .TextFooter .ColContact {
  width: 170px;
  padding: 0 10px;
  margin: 0 auto;
}
footer .TextFooter .ColContact ul {
  padding: 0;
}
footer .TextFooter .ColContact ul li {
  display: flex;
}
footer .TextFooter .ColContact ul li .ImgContact {
  margin-right: 20px;
  margin-bottom: 10px;
}
footer .TextFooter .FooterList {
  width: 140px;
  padding: 0 10px;
  margin: 0 auto;
}
footer .TextFooter .FooterList ul {
  list-style-type: none;
}
footer .TextFooter .FooterList ul li {
  margin: 10px;
}
footer .TextFooter .SocialNetworks {
  width: 140px;
  padding: 0 10px;
  margin: 0 auto;
}
footer .TextFooter .SocialNetworks ul {
  list-style-type: none;
  display: flex;
}
footer .TextFooter .SocialNetworks ul li {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 2px solid white;
  border-radius: 15px;
}

@media (max-width: 768px) {
  footer {
    padding: 200px 20px 0 20px;
  }
  footer .TextFooter {
    display: block;
  }
  footer .TextFooter .ColLocation {
    margin: 0px;
    width: auto;
  }
  footer .TextFooter .ColLocation .TextLocation {
    padding-left: 20px;
  }
  footer .TextFooter .ColContact {
    margin: 0px;
  }
  footer .TextFooter .FooterList {
    padding-top: 30px;
    margin: 0px;
  }
  footer .TextFooter .FooterList ul {
    padding-left: 0px;
  }
  footer .TextFooter .SocialNetworks {
    padding: 40px 0 20px 0;
  }
  footer .TextFooter .SocialNetworks ul {
    padding-left: 0px;
  }
}
body {
  margin: 0;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  font-size: 14px;
  background-color: #181f2a;
}
.container * {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
