.SectionComments{
    display: flex;
    padding: 0 90px;
    position: relative;
    padding-bottom: 300px;
    background-color: hsl(218, 28%, 13%);
    .ColComments{
        background-color: hsl(219, 30%, 18%);
        margin: 0 20px;
        padding: 20px 20px;
        border-radius: 5px;
        box-shadow: 10px 5px hsl(218, 28%, 13%);
        .TextComments{
            font-family: "Open Sans";
            padding-bottom: 10px;
        }
        .Profile{
            display: flex;
            .ImgProfile{
                img{
                    width: 33px;
                    border-radius: 20px;
                }
            }
            .UserData{
                padding: 0 10px;
                .Username{
                    font-family: "Open Sans";
                    font-weight: 700;
                    font-size: 80%;
                    p{
                        margin: 0 0 5px 0;
                    }
                }
                .UserProfession{
                    font-family: "Open Sans";
                    font-size: 60%;
                    p{
                        margin: 5px 0 0 0;
                    }
                }
            }
        }
    }
}