.SectionDescription{
    display: flex;
    padding: 0 7% 150px 7%;
    .ImgDescription{
        width: 600px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        img{
            width: 100%;
            height: auto;
        }
    }
    .Description{
        padding-left: 6%;
        max-width: 495px;
        width: 100%;
        max-height: 465px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        .TitleDescription{
            font-family: "Raleway";
            font-weight: 700;
            font-size: 250%;
            max-width: 415px;
            width: 100%;
            p{
                margin: 0;
            }
        }
        .TextDescription{
            font-family: "Open Sans";
        }
        .LinkDescription{
            border-bottom: 1px solid hsl(176, 68%, 64%);
            &:hover{
                border-bottom-color: hsl(198, 60%, 50%);
            }
            width: max-content;
            padding-bottom: 5px;        
            a{
                display: flex;
                font-family: "Raleway";
                text-decoration: none;
                color: hsl(176, 68%, 64%);
                &:hover{
                    color: hsl(198, 60%, 50%);
                }
                .LinkDescriptionImg{
                    padding-left: 5px;
                    padding-top: 1px;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .SectionDescription{
        padding: 20px 0;
        flex-wrap: wrap;
        .ImgDescription{
            padding: 20px;
        }
        .Description{
            padding: 0 20px;
            .TitleDescription{
                max-width: none;
                font-size: 120%;
            }
        }
    }
}