header{
    padding: 70px 50px;
    display: flex;
    .SectionLogo{
        width: 100%;
    }
    .SectionMenu{
        width: 45%;
        ul{
            list-style-type: none;
            display: flex;
        }
        li{
            margin: 0 0 0 auto;
            a{
                text-decoration: none;
                font-family: "Raleway";
            }
        }
    }
}
