header{
    padding: 70px 50px;
    display: flex;
    background-color: hsl(217, 28%, 15%);
    .SectionLogo{
        width: 100%;
    }
    .SectionMenu{
        ul{
            list-style-type: none;
            display: flex;
            width: 320px;
        }
        li{
            margin: 0 0 0 auto;
            a{
                text-decoration: none;
                font-family: "Raleway";
            }
        }
    }
}

@media (max-width: 768px){
    header{
        padding: 20px; 
        .SectionLogo{
            width: auto;
            .Logo{
                width: auto; 
                min-width: 65px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        .SectionMenu{
            margin-left: auto;
            ul{
                margin: auto;
                max-width: 155px;
                li{
                    margin: 0 2%;
                }
            }
        }
    }
}
