.SectionIntroduction{
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    .ImgIntroduction{
        img{
            max-width: 550px;
        }
    }
    .TitleIntroduction{
        font-family: "Raleway";
        font-weight: 700;
        font-size: 250%;
        max-width: 50%;
        margin: 0 auto;
    }
    .TextIntroduction{
        font-family: "Open Sans";
        font-size: 125%;
        max-width: 40%;
        margin: 0 auto;
    }
    .ButtonIntroduction{
        button{
            padding: 15px 90px;
            font-family: "Raleway";
            font-weight: 700;
            background-color: hsl(176, 68%, 64%);
            border-radius: 30px;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: hsl(198, 60%, 50%);
            }
        }
    }
}


@media (max-width: 768px){
    .SectionIntroduction{
        .ImgIntroduction{
            margin: 0 20px;
            img{
                width: 100%;
                height: auto;
            }
        }
        .TitleIntroduction{
            max-width: none;
            padding: 0 20px;
            font-size: 150%;
            line-height: 33px;
        }
        .TextIntroduction{
            max-width: 100%;
            padding: 0 20px;
            font-size: 95%;
        }
        .ButtonIntroduction{
            padding-top: 20px;
            padding-bottom: 30px;
        }
    }
}