.SectionServices{
    padding: 0 10%;
    text-align: center;
    position: relative;
    .RowServices{
        display: flex;
        width: 100%;
    }
    .ColServices{
        width: 50%;
        padding: 0 7% 50px 7%;
    }
    .ImgServices{
        img{
            height: 80px;
        }
    }
    .TitleServices{
        font-size: 120%;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 130%;
    }
    .TextServices{
        font-family: "Open Sans";
    }
}

@media (max-width: 768px){
    .SectionServices{
        padding: 20px 40px;
        .RowServices{
            display: block;
            .ColServices{
                margin: 0 auto;
                padding: 50px 0;
                width: 100%;
            }
        }
    }
}