@import "header.scss";
@import "introduction.scss";
@import "services.scss";
@import "description.scss";
@import "comments.scss";
@import "access.scss";
@import "footer.scss";

body{
    margin: 0;
}
.container{
    max-width: 1480px;
    margin: 0 auto;
    font-size: 14px;
    background-color: hsl(218, 28%, 13%);
    *{
        color: hsl(0, 0%, 100%);
    }
}